<html>
<body>
	<table>
		<tr> <td>Name</td>
				 <td>Birthdate</td>
			   <td>Email</td>
	  </tr>
		{% for patient in patientList %}
			<tr> <td><li>{{ patient.first_name  }}</li></td>
					 <td><li>{{ patient.birthday }}</li></td>
					 <td><li>{{ patient.patient_email }}</li></td>
			</tr>
				<br>
		{% endfor %}
	</table>

	<div class="row">
			<div class="col-md-12">
					<h3>Send Birthday Wishes to your patients</h3>
					<form method="post" action="">{% csrf_token%}
						<ul>
						{{ form.as_ul}}
					  </ul>
							<input type="submit" value="Send Wishes" class="btn btn-success">
					</form>
			</div>
	</div>
</body>
</html>
